Source: ros-melodic-khi-rs-gazebo
Section: misc
Priority: optional
Maintainer: matsui_hiro <matsui_hiro@khi.co.jp>
Build-Depends: debhelper (>= 9.0.0), ros-melodic-catkin, ros-melodic-gazebo-ros, ros-melodic-gazebo-ros-control
Homepage: http://ros.org/wiki/khi_robot
Standards-Version: 3.9.2

Package: ros-melodic-khi-rs-gazebo
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-melodic-gazebo-ros, ros-melodic-gazebo-ros-control
Description: The khi_rs_gazebo package
