Source: ros-kinetic-khi-duaro-gazebo
Section: misc
Priority: extra
Maintainer: nakamichi_d <nakamichi_d@khi.co.jp>
Build-Depends: debhelper (>= 9.0.0), ros-kinetic-catkin, ros-kinetic-gazebo-ros-control
Homepage: http://ros.org/wiki/khi_robot
Standards-Version: 3.9.2

Package: ros-kinetic-khi-duaro-gazebo
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, 
Description: The khi_duaro_gazebo package
